<div id="transaction">
    <table class="table mb-0 table-borderless">
        <thead>
            <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td data-toggle="modal"
                        data-target="#transactionModal{{ transaction.id }}">{{ transaction.transaction_type }}</td>
                    <td data-toggle="modal"
                        data-target="#transactionModal{{ transaction.id }}">{{ transaction.date|date }}</td>
                    <td data-toggle="modal"
                        data-target="#transactionModal{{ transaction.id }}">
                        {% if transaction.transaction_type == 'DEPOSIT' %}
                            <span class="text-primary">+ {{ transaction.amount }}</span>
                        {% elif transaction.transaction_type == 'WITHDRAWAL' %}
                            <span class="text-danger">- {{ transaction.amount }}</span>
                        {% elif transaction.transaction_type == 'TRANSFER' %}
                            <span class="text-danger">- {{ transaction.amount }}</span>

                        {% elif transaction.transaction_type == 'INVESTMENT' %}
                            <span class="text-danger">- {{ transaction.amount }}</span>
                        {% elif transaction.transaction_type == 'ROI' %}
                            <span class="text-success">+ {{ transaction.amount }}</span>
                        {% elif transaction.transaction_type == 'WITHDRAW' %}
                            <span class="text-danger">- {{ transaction.amount }}</span>
                        {% else %}
                            <span class="text-info">- {{ transaction.amount }}</span>
                        {% endif %}
                    </td>
                    {% if transaction.status == 'failed' %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-danger px-2">{{ transaction.status }}</span>
                        </td>
                    {% elif transaction.status == 'pending' %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-warning px-2">{{ transaction.status }}</span>
                        </td>
                    {% elif transaction.status == 'Successful' %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-success px-2">{{ transaction.status }}</span>
                        </td>
                    {% elif transaction.status == 'Received' %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-success">{{ transaction.status }}</span>
                        </td>
                    {% elif transaction.status == 'Expired' %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-danger">{{ transaction.status }}</span>
                        </td>
                    {% else %}
                        <td data-toggle="modal"
                            data-target="#transactionModal{{ transaction.id }}">
                            <span class="badge badge-info">{{ transaction.status }}</span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
